.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 400px;
  align-items: center;
}
.hija1 {
  width: 20%;
  padding: 20px;
  border: 1px solid black;
}
.hija2 {
  width: 80%;
  padding: 30px;
  border: 1px solid black;
}

* {
  box-sizing: border-box;
}
